
:root {
  --blue: #2E8BC0;
   --baby-blue: #B1D4E0;
  --midnight-blue: #145DA0;
  --darkblue: #0C2D48;
  --orange: #eba423;
}

body{
font-family: 'Lato', sans-serif;
margin: 0;
background: #f7f7f7;
position: relative;
min-height: 100vh;
}


section{
	padding: 3rem 0;
}

section:nth-child(even){
background: #f1f1f1;
}


.backo{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
opacity: 0.3;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(44%2c 18%2c 69%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c94 C 57.6%2c124.8 172.8%2c252.4 288%2c248 C 403.2%2c243.6 460.8%2c92.6 576%2c72 C 691.2%2c51.4 748.8%2c150.2 864%2c145 C 979.2%2c139.8 1036.8%2c32.6 1152%2c46 C 1267.2%2c59.4 1382.4%2c178.8 1440%2c212L1440 560L0 560z' fill='rgba(53%2c 22%2c 83%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c291 C 96%2c340.4 288%2c530.8 480%2c538 C 672%2c545.2 768%2c349.4 960%2c327 C 1152%2c304.6 1344%2c406.2 1440%2c426L1440 560L0 560z' fill='rgba(27%2c 10%2c 43%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");background-size: cover;
}
.containo{
	width: 90vw;
	margin: 0 auto;
	max-width: 1340px;
	position: relative;
}

h1,h2,h3,h4,h5{
		font-weight: 300;
	line-height: 1em;
	color: var(--blue);
}

h1{
		font-weight: 900;
	font-size: calc(2rem + 0.25vw);
}


#home .titlezone{
		padding: 0 1rem;
}

#home .titlezone hr{
	border: 2px solid var(--orange);
	max-width: 10rem;
	margin-left: 0;
}

#home .titlezone h1 span{
	font-family: 300 !important;
}

p, a, .icono{
	font-weight: 300;
	font-size: 1rem;
	color: var(--darkblue);
	text-decoration: none;
	display: flex;
	align-items: center;
}

.icono{
	fill: var(--blue);
	margin-right: 0.5rem;
}

.centered-band{
/*background: rgb(33,39,59);
background: linear-gradient(90deg, rgba(33,39,59,1) 0%, rgba(75,62,83,1) 100%);*/
	color: #fff;
	padding: 1rem;
}

.holds-band{
    display: flex;
/*    align-items: center;*/
    justify-content: center;
}


.mainimagestrip{
	border-top: 2rem solid var(--blue);
	height: calc(30vh - 2rem);
	min-height: 25rem;
	max-height: 35rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/gillian-strip.jpg');
}


			 @media screen and (min-width:992px) {
                .bio-zone .flexholder{
	display: flex;
		flex-direction: row;
}
             }
             @media screen and (max-width:991px) {
                .bio-zone .flexholder{
	display: flex;
	flex-direction: column;
}
             }




			 @media screen and (min-width:992px) {
.bio-zone .flexholder .imageside{
height: 100%;
width: 100%;
max-width: calc(15vw + 1.5rem);
}

             .bio-zone .flexholder .imageside figure{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
width: 100%;
padding: 0;
margin: 0;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bio-zone .flexholder .imageside figure img{
opacity: 0;
width: 15vw;
height: 15vw;
}   
             }
             @media screen and (max-width:991px) {
                .bio-zone .flexholder .imageside figure{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
width: 100%;
padding: 0;
margin: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 3rem;
}

.bio-zone .flexholder .imageside figure img{
opacity: 0;
width: 20rem;
height: 20rem;
}
             }


.bio-zone .flexholder .textside{
	padding: 0 1rem 1rem 1rem;
}
.bio-zone .flexholder .textside h2:first-child{
margin-top: 0;
}



			 @media screen and (min-width:992px) {
               .testimonial-zone .flexholder{
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
	column-gap: 0.5rem;
		flex-direction: row;
} 
.testimonial-zone .flexholder div{
	max-width: calc(50% - 1rem);
}

             }
             @media screen and (max-width:991px) {
                .testimonial-zone .flexholder{
	display: flex;
	flex-direction: column;
}
             }


footer{
	background: var(--midnight-blue);
	padding: 0.5rem;
	text-align: center;
}

footer p{
	color: #fff;
}